[submodule "vendor/openai-python"]
	path = vendor/openai-python
	url = https://github.com/openai/openai-python
[submodule "vendor/lollms"]
	path = vendor/lollms
	url = https://github.com/meta-introspector/lollms.git
[submodule "vendor/Auto-GPT-Plugin-Template"]
	path = vendor/Auto-GPT-Plugin-Template
	url = https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template
[submodule "vendor/Auto-GPT"]
	path = vendor/Auto-GPT
	url = https://github.com/jmikedupont2/Auto-GPT
[submodule "vendor/Auto-GPT-Benchmarks"]
	path = vendor/Auto-GPT-Benchmarks
	url = https://github.com/Significant-Gravitas/Auto-GPT-Benchmarks
[submodule "vendor/act_base"]
	path = vendor/act_base
	url = https://github.com/meta-introspector/act_base/
[submodule "vendor/python-poetry"]
	path = vendor/python-poetry
	url = https://github.com/meta-introspector/python-poetry
[submodule "vendor/basic_agent"]
	path = vendor/basic_agent
	url = https://github.com/meta-introspector/basic_agent
[submodule "vendor/AutoGPTOfficial"]
	path = vendor/AutoGPTOfficial
	url = https://github.com/Significant-Gravitas/AutoGPT
