name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: h4ckermike/act_base:latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker imaage
      run: docker-compose build 
    - name: Build the Docker imaage
      run: docker-compose push
      env:
        DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
