name: BuildDockerImage

on:
  workflow_dispatch :  
  push:
    branches: [ "docker-main" ]
  pull_request:
    branches: [ "docker-main" ]

jobs:

  build-and-publish-docker:
    runs-on: ubuntu-latest
    #runs-on: h4ckermike/act_base:latest

    steps:
    - uses: meta-introspector/checkout@v3
      with :
        submodules: true
    - name: Build the Docker imaage
      run: docker-compose build
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: "h4ckermike"
        password: ${{ secrets.DOCKER }}
        logout : 'false'

    - name: Build the Docker imaage
      run: docker-compose push
      env:
        DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER }}
