name: BuildDockerImage

on:
  workflow_dispatch :  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@master
      with:
        submodules: 'true'

    - name: Build the Docker imaage
      run: docker-compose build
      env:
       GITHUB_PAT: ${{ secrets.PAT }}
       GITHUB_REPO: "jmikedupont2/ai-ticket"

    - name: Build the Docker imaage
      run: docker-compose push
      env:
        DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER }}
