name: BuildDockerImage

on:
  workflow_dispatch :  
  push:
    branches: [ "docker-main" ]
  pull_request:
    branches: [ "docker-main" ]

jobs:

  build-and-publish-docker:

    runs-on: h4ckermike/act_base:latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker imaage
      run: docker-compose build 
    - name: Build the Docker imaage
      run: docker-compose push
      env:
        DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
