name: Just Run Autogpt
on:
  workflow_dispatch :   #only run when requested
jobs:
  build:    
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Checkout repository
      uses: actions/checkout@master
      with:
        submodules: 'true'        
    - name: Run  mock openai server
      run: docker-compose up --no-build -d mockopenai 
      env:
        GITHUB_PAT: ${{ secrets.PAT }}
        GITHUB_REPO: "jmikedupont2/ai-ticket"
    
    - name: docker ps
      run: docker ps -a --no-trunc
      
    - name: docker compose
      run: docker-compose logs -t mockopenai

    - name: Run autogpt in docker
      run: curl --fail http://mockopenai:8080/v1/models && docker-compose up --no-build --abort-on-container-exit autogpt
      env:
        GITHUB_PAT: ${{ secrets.PAT }}
        GITHUB_REPO: "jmikedupont2/ai-ticket"
          
    - name: stop mock openai server, just in case
      run: docker-compose down mockopenai 
